body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 2em;
}

#food-search {
  margin-top: 0em;
}

.ui .text .container {
  max-width: 100%;
}

.ui .table .td {
  padding: 2px !important;
}

.favClass {
  margin-right: 5px;
}
